*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
#tabbing{
	width: 70%;
	margin: 10rem auto;

}
.tabs{
	margin-bottom: 0.5rem;
}
.tabs .tab{
	display: inline-block;
	padding: 0.5rem;
	margin: 0 0.25rem;
	border-radius: 0.25rem;
}
.tabs .tab.active{
	background:#369;
	color: #fff;
	box-shadow:0 0 3px 4px rgba(0,0,0,0.4) ;


}
.contents .con{
	display: none;
	border: 2px solid #000;
	padding: 1rem;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	margin: 2px 0;
}
.contents .con.active{
	display: block;
	background: #889;
}















































































































































































































































